body {
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow        : hidden;
    background-color: #333;
}

.topnav a {
    float          : left;
    color          : #f2f2f2;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav a.active {
    background-color: #04AA6D;
    color           : white;
}

.nav-header {

    .brand-color {
        color: #61dafb !important;
    }

    // left
    .bg-header {
        background-color: #20232a;
    }

    a,
    .nav-link {
        color: white !important;

        &:hover {
            color: #61dafb !important;
        }

    }


    .nav-link {
        &.active {
            color: #61dafb !important;

        }
    }

    //right

    .dropdown-menu {
        a {
            color: #212529 !important;
        }
    }
}