.role-container {

    .actions {
        i {

            margin-top  : 15px;
            margin-right: 7px;
            font-size   : 20px;
            cursor      : pointer;
        }
    }

    .add {
        color: green;
    }

    .delete {
        color: red;
    }

    hr {
        margin          : 1rem 0;
        color           : inherit;
        background-color: gray;
        border          : 0;
        opacity         : 0.25;
    }
}