.user-body {

    .edit {
        color        : orange;
        cursor       : pointer;
        padding-right: 10px;
    }

    .delete {
        color : red;
        cursor: pointer;
    }

}

.modal-user {
    .content-body {
        .row {
            .red {
                color: red;
            }
        }
    }
}